.parent{
    -fx-background-color: #49C7D9;
}
.borderpane{
    -fx-background-color: linear-gradient(from 200% 0% to 0% 50%,  #45BCCD 0%,  #E5F5F8 250%);
}
.loadpane{
    -fx-background-color: transparent;
}
.sidebar{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 80%,  #45BCCD 0%, #9AD9E2 250%);
}
.menu-button{
    -fx-background-color: linear-gradient(rgba(77, 133, 142, 0.1), rgba(18, 51, 137, 0.1));
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 1);
    -fx-border-color: black;
}
#menuAdminStatsButton, #menuKeywordsButton, #menuSitesButton, #menuUsersButton,
#menuTotalStatButton, #menuDailyStatButton {
    -fx-background-color: linear-gradient(rgba(77, 133, 142, 0.1), rgba(18, 51, 137, 0.1));
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 1);
}
.labelstyle{
    -fx-font-family: Trattatello;
}
.table-view{
    -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#9AD9E2 0%, #45BCCD 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-view .column-header{
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgba(69, 188, 205, 0.4);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgba(69, 188, 205, 0.2);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected{
    -fx-background-color: #45b2cd;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background{
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button{
    -fx-opacity: 0;
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}
.tab{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab:selected{
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #49C7D9;
}
.default-color0.chart-pie { -fx-pie-color: #ffd700; }
.default-color1.chart-pie { -fx-pie-color: #ffa500; }
.default-color2.chart-pie { -fx-pie-color: #860061; }
.default-color3.chart-pie { -fx-pie-color: #adff2f; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }

.chart-pie-label-line{
    -fx-stroke: black;
    -fx-fill: black;
}

.chart-pie-label{
    -fx-fill: black;
    -fx-font-size: 1em;
}
.chart-legend{
    -fx-background-color:  #9AD9E2;
    -fx-stroke: #49C7D9;
    -fx-border-color: black;
}
.date-picker{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
